---
layout: story
---

<div class="container">
    <div class="entry">
        <div class="entry-details">
            <div class="entry-image-wrapper">
                <div class="entry-image">
                    <img class="circular" src="" />
                </div>
            </div>
            <h2 class="story-title"><%= entry_name %></h2>
            <h3 class="publish-date"><%= entry_date %></h3>
            <div class="share-icons">
                <ul class="social">
                    <a href="http://twitter.com/home?status=http://evanrindler.com/writing/story/<%=entry_slug %>" target="_blank">
                        <li class="twitter-share"><span class="icon-twitter"></span></li>
                    </a>
                    <a href="http://www.facebook.com/sharer.php?u=http://evanrindler.com/writing/story/<%=entry_slug %>" target="_blank">
                        <li class="facebook-share"><span class="icon-facebook"></span></li>
                    </a>
                </ul>
            </div>
            
        </div>
        <div class="entry-body">
            <%= entry_body %>
        </div>
    </div>
</div>