---
layout: page
title: Evan Rindler
---

<div class="container">
    <div class="section-wrapper media-wrapper">
        <h1 id="writing">Writing</h1>
        <p id="writing-description">Here are select short stories, poems, and novellas. </p>
        <div class="story-list">
            <% data.stories.each do |s| %>
                <% relative_path = "story/" %>
                <% story_link = "#{s.slug}/" %>
                <div class="story-entry">
                    <h2><%=s.title %></h2>
                    <p class="story-date"><%=s.date %></p>
                    <div class="story-preview"><%= truncate(s.text, :length => 300) %></div>
                    <a href= <%= relative_path %><%= story_link %> ><p class="read-more">Read more...</p></a>
                </div>
            <% end %>
        </div>
    </div>
</div>